---
---

/* common */
.center-aligned {
	text-align: center;
}
.draggable {
	cursor: grab;
	cursor: -webkit-grab;
}

.combobutton {
	> .dropdown-toggle {
		padding: 0 18px 0 12px;
		text-align: left;
	}
	> .dropdown-toggle > .caret {
		position: absolute;
		display: block;
		top: 50%;
		margin-top: -2px;
		right: 12px;
	}
	> .dropdown-menu > li > a {
		cursor: pointer;
	}
}

ul.clear,
ul.inline {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.inline {
	> li {
		display: inline;
	}
	> li::after {
		display: inline;
	}
	> li:last-child::after {
		display: none;
	}
	&.comma > li::after {
		content: ', ';
	}
	&.comma-zh > li::after {
		content: '、';
	}
}

.x16 {
	width: 16px;
	height: 16px;
}

.card-shadow {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	overflow: hidden;
}
.card {
	@extend .card-shadow;
	background-color: #FFF;
}
.bubble {
	position: relative;
	border-radius: 8px;
	padding: 12px;
	
	&::after {
		content: ' ';
		display: block;
		border: 6px solid transparent;
		border-top: 10px solid #FFF;
		border-bottom-width: 0px;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -6px;
	}
}
.fallen-man {
	position: relative;
	font-family: monospace, "蘋果儷中黑", "微軟正黑體";
	font-size: 20px;
}

/* default */
body {
	padding-bottom: 57px;
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.6em;
}

/* layout */
$header-height: 48px;
$footer-height: 56px;

#header {
	height: $header-height + 1px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}
#body {
	padding-top: $header-height + 1px;
}
#footer {
	box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.26);
}



/* header */
#header {
	> .container,
	.navbar-header,
	nav {
		height: 100%;
	}
	nav > ul > li > .dropdown,
	.dropdown-menu > li {
		padding: 0;
		padding-left: 32px;
	}
	.navbar-brand {
		padding: 0;
	}
	nav > ul > li > a,
	nav > ul > li > .dropdown > .dropdown-toggle,
	.navbar-brand {
		line-height: $header-height;
		font-size: 18px;
	}
	a {
		cursor: pointer;
		background-color: transparent;
		
		&, &:focus, &:hover {
			text-decoration: none;
		}
		.fa-caret-down {
			font-size: 16px;
			padding-left: 4px;
			padding-botom: 2px;
			vertical-align: middle;
		}
	}
	hr {
		margin: 8px 0;
	}
	[data-group].selected::before {
		display: inline-block;
		position: absolute;
		font-family: FontAwesome;
		content: '\f00c';
		left: 10px;
		height: 32px;
		line-height: 32px;
	}
	&.navbar-inverse {
		a {
			color: #CCC;
			
			&:hover {
				color: #FFF;
			}
		}
		hr {
			border-color: #CCC;
		}
		.dropdown-menu {
			border-radius: 0px 0px 3px 3px;
			border: none;
			background-color: #222;
			
			a {
				height: 32px;
				line-height: 32px;
				padding: 0;
				font-size: 16px;
			}
		}
		[data-group].selected::before {
			color: #CCC;
		}
	}
}

/* home page */
body.home {
	
	#wrapper {
		width: 800px;
		margin: 0 auto;
	}
	#banner {
		height: 160px;
		background: no-repeat center center transparent;
		background-image: url("../img/banner.png");
		background-size: contain;
	}
	#content {
		background: no-repeat center center transparent;
		background-image: url("../img/bg-vine.png");
		background-size: 100% auto;
	}
	.section {
		padding-top: 360px;
		width: 40%;
		background: no-repeat top center transparent;
		background-size: contain;
		
		.links {
			font-size: 20px;
		}
	}
	#farmer {
		float: left;
		background-image: url("../img/bg-farmer.png");
	}
	#consumer {
		float: right;
		background-image: url("../img/bg-consumer.png");
	}
	.disclaimer {
		width: 100%;
		border-top: 1px solid black;
		padding-top: 10px;
		margin-top: 18px;
		font-size: 12px;
		text-align: center;
	}
}



/* pesticide search page */
body.pesticide-usages {
	background-color: #E5E5E5;
	
	header {
		pointer-events: none;
		position: fixed;
		z-index: 50;
		left: 0;
		right: 0;
		top: $header-height + 1px;
		bottom: $footer-height + 1px;
		
		> * {
			pointer-events: auto;
		}
		+ * {
			padding-top: 140px;
		}
		.u-curtain {
			padding-bottom: 20px;
			// TODO: mixin this
			background-color: #F5F5F5;
			background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 80%, rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 80%, rgba(229,229,229,0) 100%); /* Opera 11.10+ */
			background: linear-gradient(to bottom, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 80%, rgba(229,229,229,0) 100%); /* W3C */
		}
		.u-row {
			position: relative;
			height: 40px;
		}
		#form {
			width: 480px;
			margin: 20px auto 0 auto;
		}
		i,
		#form .submit,
		#form .adv-options-toggle-btn {
			position: absolute;
		}
		i,
		.btn {
			top: 0;
			bottom: 0;
			line-height: 40px;
			font-size: 16px;
		}
		i {
			left: 0;
			width: 40px;
			text-align: center;
			color: #555;
		}
		.btn {
			display: block;
			width: 80px;
			padding: 0;
			border-color: transparent;
		}
		.btn.dropdown-toggle {
			padding: 0 18px 0 12px;
		}
		input {
			display: block;
			border-color: transparent;
			height: 100%;
			width: 100%;
			outline: none;
			color: #555;
		}
		#form {
			padding: 0 80px 0 40px;
			margin-top: 20px;
			
			.submit {
				right: 0;
				border-radius: 0;
			}
			.adv-options-toggle-btn {
				right: -100px;
				border-radius: 2px;
				box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
			}
		}
		#adv-options {
			display: none;
			transition: height 0.3s;
			-webkit-transition: height 0.3s;
		}
		&.advanced #adv-options {
			display: block;
		}
		#grouper {
			width: 120px;
			
			> .btn {
				width: 100%;
				background-color: #FFF !important;
				border: 0;
			}
			> .dropdown-menu {
				width: 100%;
				border-radius: 2px;
			}
			> .dropdown-menu > li > a {
				line-height: 24px;
				font-size: 16px;
			}
		}
	}
	#result-header {
		margin-top: 20px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
		$pool-field-width: 120px;
		$pool-checkmark-width: 30px;
		
		.u-summaries-frame {
			display: block;
			overflow: hidden;
			height: 100%;
			margin-left: 48px;
		}
		.u-summaries {
			display: inline-block;
			height: 100%;
			border-right: 1px solid #CCC;
			
			.u-frame {
				display: inline-block;
				height: 100%;
				width: 100%;
			}
			.field {
				position: relative;
				display: inline-block;
				height: 100%;
				line-height: 38px;
				border-left: 1px solid #CCC;
				
				&:first-child {
					border-left: none;
				}
				.u-label {
					padding: 0 8px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.u-draggable {
					height: 100%;
				}
			}
		}
		.u-pool {
			width: $pool-field-width * 3;
			
			.field {
				position: relative;
				float: left;
				width: $pool-field-width;
				height: 40px;
				line-height: 40px;
				padding: 0 8px 0 $pool-checkmark-width;
				cursor: pointer;
				font-size: 16px;
				
				&:hover {
					background-color: #EEE;
				}
				&[data-value='dose-per-hectare-per-use'],
				&[data-value='original-registrant'] {
					width: $pool-field-width * 2;
				}
				.u-checkmark {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: $pool-checkmark-width;
					visibility: hidden;
					line-height: 40px;
					text-align: center;
				}
				&.selected {
					.u-checkmark {
						visibility: visible;
					}
				}
			}
		}
		.u-customize {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 40px;
			
			& > .btn {
				height: 100%;
				width: 40px;
				outline: none;
				text-decoration: none;
				background: #FFF;
				
				&.card {
					line-height: 38px;
				}
			}
			& > .dropdown-menu {
				margin-top: 8px;
				padding: 0;
			}
		}
		&.dragging.valid {
			.u-summaries {
				&.pushed {
					border-right-color: #333;
					//box-shadow: 0 0 5px #333;
				}
				.field {
					&.pushed {
						border-left-color: #333;
						//box-shadow: inset 4px 0px 9px -6px;
					}
					&.dragged {
						display: none;
					}
				}
			}
		}
	}
	.u-ghost {
		position: absolute;
		z-index: 100;
	}
	#result {
		color: #555;
		
		.group-header {
			text-align: center;
			margin-top: 20px;
			font-size: 20px;
		}
		.usage {
			@extend .card;
			position: relative;
			
			.toggle-detail-btn {
				display: inline;
				padding: 0;
				font-size: 16px;
				border: none;
				outline: none;
				text-decoration: none;
			}
			.u-detail {
				display: none;
				
				hr {
					margin: 12px 0;
				}
				.field {
					&.verbose {
						margin-top: 12px;
						
						.u-value {
							display: block;
							
							&::before {
								content: '　';
							}
						}
					}
					.u-icon {
						display: none;
					}
				}
			}
			&.open {
				 .u-detail {
					display: block;
				}
			}
		}
		&.card-layout {
			text-align: center;
			
			.usage {
				display: inline-block;
				margin: 16px;
				padding: 16px;
				text-align: left;
				vertical-align: top;
				max-width: 30%;
				
				.toggle-detail-btn {
					margin-top: 12px;
					background: none;
					color: #428BCA;
					cursor: pointer;
					
					&:hover {
						color: #2A6496;
					}
					> .u-label::before {
						content: '詳細資料';
					}
				}
				&.open {
					max-width: 45%;
					
					.toggle-detail-btn > .u-label::before {
						content: '關閉詳細資料';
					}
				}
			}
		}
		&.table-layout {
			.usage {
				@extend .card;
				padding: 7px 8px 7px 48px;
				margin-bottom: 6px;
				
				.toggle-detail-btn {
					display: inline-block;
					position: absolute;
					height: 24px;
					width: 24px;
					line-height: 24px;
					left: 8px;
					top: 8px;
					background: none;
					cursor: pointer;
				}
				.toggle-detail-btn > .u-label::before {
					font-family: FontAwesome;
					content: '\f054';
				}
				&.open {
					.toggle-detail-btn > .u-label::before {
						content: '\f078';
					}
				}
				.u-detail {
					padding: 0 8px 20px 8px;
				}
			}
			.u-summary {
				//overflow: hidden;
				height: 26px;
				
				.field {
					display: inline-block;
					float: left;
					padding: 0 8px;
					
					i,
					.u-label {
						display: none;
					}
				}
			}
		}
		.products {
			display: block;
			overflow: hidden; /* occupy remaining width */
			
			> * {
				display: inline-block; /* word wrap unit */
			}
		}
		.hit {
			border-radius: 2px;
			background-color: #FFF176; /* yellow 300 */
		}
	}
	#result-header,
	#result.table-layout .u-summary {
		
		$field-width: 120px;
		
		.field {
			width: $field-width;
			
			&.m-size {
				width: $field-width * 1.5;
			}
			&.l-size {
				width: $field-width * 2;
			}
		}
	}
	#no-result {
		display: none;
		text-align: center;
		margin-top: 80px;
	}
	&.no-result #no-result {
		display: block;
	}
}


