/* common */
.center-aligned {
	text-align: center;
}

.combobutton > .dropdown-toggle {
	padding: 0 18px 0 12px;
	text-align: left;
}
.combobutton > .dropdown-toggle > .caret {
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -2px;
	right: 12px;
}
.combobutton > .dropdown-menu > li > a {
	cursor: pointer;
}

ul.clear,
ul.inline {
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.inline > li {
	display: inline;
}
ul.inline > li::after {
	display: inline;
}
ul.inline > li:last-child::after {
	display: none;
}
ul.inline.comma > li::after {
	content: ', ';
}
ul.inline.comma-zh > li::after {
	content: '、';
}

.space {
	display: inline-block;
}
.x16 {
	width: 16px;
	height: 16px;
}

.card {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	background-color: #FFF;
}
.bubble {
	position: relative;
	border-radius: 8px;
	padding: 12px;
}
.bubble::after {
	content: ' ';
	display: block;
	border: 6px solid transparent;
	border-top: 10px solid #FFF;
	border-bottom-width: 0px;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -6px;
}
.fallen-man {
	position: relative;
	font-family: monospace, "蘋果儷中黑", "微軟正黑體";
	font-size: 20px;
}

/* default */
body {
	padding-bottom: 57px;
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.6em;
}
.navbar-fixed-bottom {
	box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.26);
}

/* home page */
/* TODO: use better class names */
body.home .option {
	font-size: 14px;
	vertical-align: top;
	display: inline-block;
	width: 500px;
	min-width: 400px;
}
body.home .option h1 {
	text-align: center;
	color: #444;
}
body.home .link {
	font-size: 18px;
	display: block;
	text-align: center;
}

/* pesticide search page */
body.pesticide-usages {
	background-color: #E5E5E5;
}
body.pesticide-usages header {
	pointer-events: none;
	height: 80px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
body.pesticide-usages header > * {
	pointer-events: auto;
}
body.pesticide-usages header + * {
	padding-top: 160px;
}
body.pesticide-usages header .form-row {
	position: relative;
	width: 480px;
	height: 40px;
	margin: 20px auto 0 auto;
}
body.pesticide-usages header #form {
	padding: 0 80px 0 40px;
	margin-top: 20px;
}
body.pesticide-usages header i,
body.pesticide-usages header #form .submit,
body.pesticide-usages header #form .adv-options-toggle-btn {
	position: absolute;
}
body.pesticide-usages header i,
body.pesticide-usages header .btn {
	top: 0;
	bottom: 0;
	line-height: 40px;
	font-size: 16px;
}
body.pesticide-usages header .btn {
	display: block;
	width: 80px;
	padding: 0;
	border-color: transparent;
}
body.pesticide-usages header .btn.dropdown-toggle {
	padding: 0 18px 0 12px;
}
body.pesticide-usages header i {
	left: 0;
	width: 40px;
	text-align: center;
	color: #555;
}
body.pesticide-usages header input {
	display: block;
	border-color: transparent;
	height: 100%;
	width: 100%;
	outline: none;
	color: #555;
}
body.pesticide-usages header #form .submit {
	right: 0;
	border-radius: 0;
}
body.pesticide-usages header #form .adv-options-toggle-btn {
	right: -100px;
	border-radius: 2px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}
body.pesticide-usages header #adv-options {
	display: none;
	transition: height 0.3s;
	-webkit-transition: height 0.3s;
}
body.pesticide-usages header.advanced #adv-options {
	display: block;
}
body.pesticide-usages header #grouper {
	width: 120px;
}
body.pesticide-usages header #grouper > .btn {
	width: 100%;
	background-color: #FFF !important;
	border: 0;
}
body.pesticide-usages header #grouper > .dropdown-menu {
	width: 100%;
	border-radius: 2px;
}
body.pesticide-usages header #grouper > .dropdown-menu > li > a {
	line-height: 24px;
	font-size: 16px;
}



body.pesticide-usages #result {
	text-align: center;
	color: #555;
}
body.pesticide-usages #result .group-header {
	margin-top: 20px;
	font-size: 20px;
}
body.pesticide-usages #result .usage {
	display: inline-block;
	margin: 16px;
	padding: 16px;
	text-align: left;
	vertical-align: top;
	max-width: 30%;
}
body.pesticide-usages #result .usage.open {
	max-width: 45%;
}
body.pesticide-usages #result .usage .desc-label {
	
}
body.pesticide-usages #result .usage .desc-block {
	margin-top: 12px;
}
body.pesticide-usages #result .usage .desc-indent {
	padding-left: 16px;
}
body.pesticide-usages #result .usage .toggle-detail-btn {
	display: inline;
	padding: 0;
	font-size: 16px;
	border: none;
	outline: none;
	text-decoration: none;
}
body.pesticide-usages #result .usage.open .toggle-detail-btn::before {
	content: '關閉';
}
body.pesticide-usages #result .usage .detail {
	display: none;
}
body.pesticide-usages #result .usage.open .detail {
	display: block;
}
body.pesticide-usages #result .products {
	display: block;
	overflow: hidden; /* occupy remaining width */
}
body.pesticide-usages #result .products > * {
	display: inline-block; /* word wrap unit */
}
body.pesticide-usages #result .hit {
	border-radius: 2px;
	background-color: #FFF176; /* yellow 300 */
}
body.pesticide-usages #no-result {
	display: none;
	text-align: center;
	margin-top: 80px;
}
body.pesticide-usages.no-result #no-result {
	display: block;
}
