body {
	padding-bottom: 57px;
	font-family: Arial, Helvetica, FreeSans, "蘋果儷中黑", "微軟正黑體", sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.6em;
}

/* TODO: use better structure */
body.home {
	text-align: center;
}
/* TODO: use better class names */
.option {
	font-size: 14px;
	vertical-align: top;
	display: inline-block;
	width: 500px;
	min-width: 400px;
}
.option h1 {
	text-align: center;
	color: #444;
}
.link {
	font-size: 18px;
	display: block;
	text-align: center;
}
